body {
  margin: 0;
  height: 100vh;
}

.page-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#root {
  height: 100%;
}

.main-content {
  &__page {
    padding: 1rem;
  }
}

.right {
  float: right;

  &::after {
    clear: both;
  }
}

a {
  text-decoration: none;
}

.fade-out {
  opacity: 0.3;
}

tr {
  cursor: pointer;
}
