@import '../styles/themes/main/_variables';

.price-container {
  width: 100%;
}

  .price-box__row {
    margin: 5px 0;
  }

  .price-box__value {
    font-size: 100%;
    font-weight: bold;
  }

  .price-box__source {
    color: $secondary-txt-color;
    font-size: 70%;
  }
