{
  "plugins": [
    "transform-class-properties",
    "transform-async-functions",
    "transform-decorators-legacy",
    "transform-inline-environment-variables"
  ],

  "presets": [
      "react",
      "react-native"
  ],

  "env": {
    "development": {
      "presets": []
    }
  }
}
