{
  "plugins": [
    "transform-class-properties",
    "transform-async-functions",
    "transform-decorators-legacy",
    "transform-inline-environment-variables",
    "transform-object-rest-spread" 
  ],

  "presets": [
    "react",
    "react-native"
  ],

  "env": {
    "development": {
      "presets": []
    }
  }
}
