@import '../styles/themes/main/variables';

.titled-box {
  height: 100%;
  border: 0.1px solid $main-bg-color;
  border-radius: 5px;
}

  .titled-box__header {
    background-color: $alt-bg-color;
    padding: 5px;
  }

  .titled-box__body {
    // background-color: $secondary-bg-color;
    padding: 5px;
  }
